@import 'tailwindcss';
@plugin "tailwindcss-animated";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Cores extraídas do seu design */
    --color-koryo-dark: #11221A; /* Verde bem escuro do topo */
    --color-koryo-green: #A3C847; /* Verde claro do ícone/detalhes */
    --color-koryo-principal-text: #E6F1ED; /* cor para textos */
    --color-koryo-secondary-text: #8FA6A0; /* cor para textos secundários */
    --color-koryo-card-claro: #1F3128; /* cor de fundo dos cards com fundo claro */
    
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
